.demo{
    width: 100px;
    height: 100px;
    background: grey;
    display: inline-block;
    margin: 10px;
}

.red{
    background: red;
}
.blue{
    background: blue;
}
.black{
    background: black;
}

.textStyle{
    color : red;
    font-size: 300px;
}